html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body {
    /* background: #ffffff url('../img/geometry2.png');  Background 
    pattern from Subtle Patterns */
    background-color: #133;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

h1 {
    font-family: 'Coda';
    font-weight: 600;
    margin: 10px auto;
}

/*
 * Styles for the deck of cards
linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #bbf;
    padding: 0 32px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(46, 61, 255, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em auto;
    z-index: 0;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0;
}

.deck .card.open {
    transition: 1s;
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 660px;
    margin-bottom: 0px;
    font-size: 30px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.fa-star {
    color: #ff1;
    font-size: 25px;
    margin: auto;
}

#moves {
    margin: 0;
}

#timer {
    margin-left: 2px;
    margin-right: 0;
    font-family: 'Coda';
    text-align: center;
    display: inline;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.clickDisable {
    pointer-events: none;
}


.restart {
    margin: 0;
    color: #f33;
}

#winnerCard {
    width: 100%;
    height: 100%;
    background: #abc;
    opacity: 0.95;
    z-index: 1;
    position: fixed;
    display: none;
}

#low {
    margin: 5% auto;
    width: 70%;
    height: 75%;
    font-size: 20px;
    background: #333;
    text-align: center;

}
.stars {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;

}

.stars li {
    display: inline;
}

#low .fa-star {
    color: #ff1;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

#low #timer {
    margin: 0 auto;
    font-family: 'Jua';
    font-style: italic;
    text-align: center;
    display: inline;
}

.wText {
    margin: 2% auto;
    font-family: 'Jua';
    font-style: italic;
    font-weight: 500;
    font-size: 150%;
}

.food {
    height: 45%;
    min-height: 20%;
}

.fa-close {
    border: 0 none #222;
    background-color: #222;
    color: aliceblue;
    font-size: 30px;
    font-weight: 100;
    float: right;

}

.again {
    margin: 0 auto;
    width: 120px;
    height: 50px;
    background: #aaf;
    border: 0 none #222;
    font-size: 20px;
    font-family: 'Jua';
    border-radius: 30%;
    box-shadow: 0 0 5px 0px #000;
    display: block;

}
